/* Add your css code here */

.sbs-slider-control {
  opacity: 0 !important;
}

/* The region colors */
.page-wrapper {
  background-color: #f8f8f8;
  color: #3a3a3a;
  max-width: 1150px !important;
  margin: auto;
  float: none !important;
}
#header {
  background-color: #f8f8f8;
  margin: 10px;
}


/*#footer-container .first-footer > div {*/
/*  background-color: #0c97ed!important;*/
/*  color: #fa2209!important;*/
/*}*/